.container{
  display: flex;
  flex-direction: column;
  background: #f0f2f5;
  min-height: 100vh;
}
.content-wrapper{
 flex: auto;
 padding: 12px 0;
}
.content{
  margin: 0 20px;
  display: flex;
  .left{
    width: 350px;
    margin-right: 24px;
    background: #fff;
  }
  .center{
    flex: auto;
    background: #fff;
    padding: 12px 18px;
  }
  .right{
    width: 400px;
    margin-left: 24px;
    background: #fff;
    padding: 12px 18px;
    overflow: hidden;
  }
}